@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap');
.App {
    width: 60vw;
    margin: 0 auto;
}

/* compatible with firefox */
:root{
    scrollbar-color: #FFED00 #E3000B; /* Firefox, Firefox for Android compatibility  */
    scrollbar-width: auto;
}

/* webkit is not compatible with Firefox */
body::-webkit-scrollbar {
    width: 1em;
}
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}
   
body::-webkit-scrollbar-thumb {
    background-image: url("https://img.freepik.com/free-vector/yellow-toy-block_1284-42372.jpg?w=360");
    background-repeat: repeat-y;
    background-size: 150px;
}

h1 {
    font-family: 'Londrina Solid', cursive;
    font-size: 40px;
    /* background-color: red; */
}

.inputExpandContainer {
    display: grid;
    grid-template-columns: 3fr 1.5fr 1.5fr;
}

button {
    cursor: pointer;
    background-color: black;
    margin-left: 3px;
    color: white;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
}